div.sourceCode {
  background-color: rgb(240, 240, 240);
}
pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
  }
pre.numberSource { margin-left: 3em;  padding-left: 4px; }
div.sourceCode
  {   }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}

@media (prefers-color-scheme: light) {
  pre.numberSource code > span > a:first-child::before {
    color: #aaaaaa;
  }
  pre.numberSource {
    border-left: 1px solid #aaaaaa; 
  }

  code span.al { color: #ff0000; font-weight: bold; } /* Alert */
  code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
  code span.at { color: #7d9029; } /* Attribute */
  code span.bn { color: #40a070; } /* BaseN */
  code span.bu { } /* BuiltIn */
  code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
  code span.ch { color: #4070a0; } /* Char */
  code span.cn { color: #880000; } /* Constant */
  code span.co { color: #60a0b0; font-style: italic; } /* Comment */
  code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
  code span.do { color: #ba2121; font-style: italic; } /* Documentation */
  code span.dt { color: #902000; } /* DataType */
  code span.dv { color: #40a070; } /* DecVal */
  code span.er { color: #ff0000; font-weight: bold; } /* Error */
  code span.ex { } /* Extension */
  code span.fl { color: #40a070; } /* Float */
  code span.fu { color: #06287e; } /* Function */
  code span.im { } /* Import */
  code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
  code span.kw { color: #007020; font-weight: bold; } /* Keyword */
  code span.op { color: #666666; } /* Operator */
  code span.ot { color: #007020; } /* Other */
  code span.pp { color: #bc7a00; } /* Preprocessor */
  code span.sc { color: #4070a0; } /* SpecialChar */
  code span.ss { color: #bb6688; } /* SpecialString */
  code span.st { color: #4070a0; } /* String */
  code span.va { color: #19177c; } /* Variable */
  code span.vs { color: #4070a0; } /* VerbatimString */
  code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
}

@media (prefers-color-scheme: dark) {
  div.sourceCode {
    background-color: black;
  }

  pre.numberSource code > span > a:first-child::before {
    color: #aaaaaa;
  }
  pre.numberSource {
    border-left: 1px solid #aaaaaa; 
  }

  :root {
    --highlightcolor-constants: #d3dbff;
    --highlightcolor-comments: grey;
    --highlightcolor-reserved: #f8c861;
    --highlightcolot-types: #fff4c1;
    --highlightcolor-valuenames: white;
  }
  

  code span.al { color: red; font-weight: bold; } /* Alert */
  code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
  code span.at { color: var(--highlightcolor-valuenames); } /* Attribute */
  code span.bn { color: #40a070; } /* BaseN */
  code span.bu { } /* BuiltIn */
  code span.cf { color: var(--highlightcolor-reserved); font-weight: bold; } /* ControlFlow */
  code span.ch { color: var(--highlightcolor-constants); } /* Char */
  code span.cn { color: var(--highlightcolor-constants); } /* Constant */
  code span.co { color: var(--highlightcolor-comments); font-style: italic; } /* Comment */
  code span.cv { color: var(--highlightcolor-comments); font-weight: bold; font-style: italic; } /* CommentVar */
  code span.do { color: var(--highlightcolor-comments); font-style: italic; } /* Documentation */
  code span.dt { color: var(--highlightcolot-types); } /* DataType */
  code span.dv { color: var(--highlightcolor-constants); } /* DecVal */
  code span.er { color: red; font-weight: bold; } /* Error */
  code span.ex { } /* Extension */
  code span.fl { color: var(--highlightcolor-constants); } /* Float */
  code span.fu { color: var(--highlightcolor-valuenames); } /* Function */
  code span.im { color: var(--highlightcolor-reserved)} /* Import */
  code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
  code span.kw { color: var(--highlightcolor-reserved); font-weight: bold; } /* Keyword */
  code span.op { color: var(--highlightcolor-constants); } /* Operator */
  code span.ot { color: white; } /* Other */
  code span.pp { color: #bc7a00; } /* Preprocessor */
  code span.sc { color: var(--highlightcolor-reserved); } /* SpecialChar */
  code span.ss { color: var(--highlightcolor-reserved); } /* SpecialString */
  code span.st { color: var(--highlightcolor-constants); } /* String */
  code span.va { color: var(--highlightcolor-valuenames); } /* Variable */
  code span.vs { color: var(--highlightcolor-constants); } /* VerbatimString */
  code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
}