/*
adapted from https://gist.github.com/killercup/5917178#file-pandoc-css
*/

:root {
    --color-background-0: white;
    --color-main-text: black;
    --color-link-text: #0645ad;;
    --color-banner: black;
    --color-banner-text: white;
  }

@media (prefers-color-scheme: light) {
  .dark-only {
    display: none;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background-0: rgb(27, 27, 27);
    --color-main-text: white;
    --color-link-text: rgb(175, 187, 255);
    --color-banner: black;
    --color-banner-text: white;
  }

  .light-only {
    display: none;
  }
}

body {
  margin: 0;
  background-color: var(--color-background-0);
  color: var(--color-main-text);
  font-family: sans-serif;
  font-size:12pt;
  padding-bottom: 10em;
  line-height: 1.7;
}

@media print {
  body {
    font-family: serif;
  }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
    margin-top: 2em;
    font-weight: normal;
}

h4, h5, h6 {
  font-weight: bold;
}


h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}


a {
  color: var(--color-link-text);
  text-decoration: none;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

ul ul, ol ol {
    margin: .3em 0;
}

code {
  font-family: fantasque sans mono, monospace;
}

.top-banner {
  width: 100%;
  background-color: var(--color-banner);
  color: var(--color-banner-text);
  line-height: 30pt;
}

.home-link {
  font-size: 18pt;
  color: inherit;
  text-decoration: none;
  margin: .5em;
  line-height: 200%;
}

.cover-image-container {
  max-width: 50em;
  margin: auto;
}

.main-container {
  max-width: 42em;
  margin: auto;
  padding: 1em;
}

svg {
  justify-self: center;
}

figure {
  margin-bottom: 2em;
}

figcaption {
  display: none;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

img {
  max-width:100%;
  vertical-align: middle;
}

.title {
  margin-top: 10px;
}

.author {
    font-size: 1.2em;
    text-align: center;
}

.date {
  font-size: .8em;
  text-align: center;
}


hr {
  width: 20em;
  border: 1px solid gray;
  margin: 2em auto;
}


div.sourceCode {
  font-family: monospace;
  border-radius: 5px;
  margin: 1em;
}

pre.sourceCode {
  padding: 10px;
}


div.math {
  text-align: center;
}

math {
  font-size: 130%;
}